<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>checkout</title>
    <script src="https://kit.fontawesome.com/7a1a8867fc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <style>
            body {
                font-family: 'Poppins', sans-serif;
            }
            .card {
            margin: 0 0.5em;
            box-shadow: 2px 6px 8px rgba(22, 22, 26, 0.18);
            border: none;
            border-radius: 3;
        }
            </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<body>
    {% csrf_token %}
<nav class="navbar sticky-top bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{%url 'index' %}">

            <img src="https://svgsilh.com/svg/2085075.svg" alt="Logo" width="30" height="24"
                class="d-inline-block align-text-top ">
            QuickBites
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item mx-2">
                <a type="button" class="nav-link" href="{% url 'logout' %}">
                    Logout
                </a>
            </li>

            <li class="nav-item mx-2">
                <a type="button" class="nav-link" href="#">
                    About Us
                </a>
            </li>
            <li class="nav-item mx-2">
                <a type="button" class="nav-link" href="#">
                    Help
                </a>
            </li>
            <li class="nav-item mx-2">
                <a type="button" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" height="1.5em"
                        viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                        <path
                            d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z" />
                    </svg>
                    {{ username }}
                </a>
            </li>
        </ul>
    </div>

</nav>
<div class="d-flex justify-content-center">
    <div id="cart-body" style="width: 80%;">
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>


    {% block js %}
    <script>
        function setCartNo(cart) {
            let total = 0;
            for (items in cart) {
                total += cart[items][0]
            }
            $("[data-cart_no]").html(total);
        }
        console.log('working');
        set_cart();
        function set_cart() {
            if (localStorage.getItem("cart") == undefined) {
                var cart = {};
                $('[data-cat_no]').html(0);
                console.log('local')
            }
            else {
                cart = JSON.parse(localStorage.getItem('cart'));
                setCartNo(cart);
            }
            populateCart();
            return cart;
        }

        $('.cart').click(function () {
            console.log('clicked');

            var cart=set_cart();
            var idstr = this.id.toString();
            console.log(idstr);
            if (cart[idstr] != undefined) {
                cart[idstr][0] = cart[idstr][0] + 1;
            } else {
                // alert(idstr);
                qty = 1;
                name = $('#dish-' + idstr).html();
                price = $('#dish-price-' + idstr).html();
                console.log(name);
                cart[idstr] = [qty, name, parseInt(price)];
                console.log(cart[idstr]);

            }
            //
            console.log(cart);
            localStorage.setItem('cart', JSON.stringify(cart));
            console.log('done');
            setCartNo(cart);
            populateCart();
        })


        function cartIncItem(index) {
            // cart fetch,
            let cart = JSON.parse(localStorage.getItem('cart'));
            cart[index][0] = cart[index][0] + 1;
            localStorage.setItem('cart', JSON.stringify(cart));
            // update
            // $("#cart-item-" + index).html(cart[index][0])
            populateCart();
            setCartNo(cart);
        }
        function cartDecItem(index) {
            // cart fetch,
            let cart = JSON.parse(localStorage.getItem('cart'));
            cart[index][0] = cart[index][0] - 1;
            localStorage.setItem('cart', JSON.stringify(cart));
            // update
            if (cart[index][0] === 0) {
                console.log('0')
                delete (cart[index])
                if (Object.keys(cart).length == 0) {
                    localStorage.removeItem('cart');
                }
                else {
                    localStorage.setItem('cart', JSON.stringify(cart));

                }
            }
            // var cart=set_cart();
            populateCart();
            setCartNo(cart);

        }



        function createCard(index, name, price, quantity) {

            let p = document.createElement('div');
            p.innerHTML = "<i class='fa fa-rupee'></i>"+price;
            let n = document.createElement('div');
            n.classList = 'card-title';
            n.innerHTML = name;

            let plus = document.createElement('button');
            plus.classList = 'btn btn-warning p-2';
            plus.innerHTML = '+';
            plus.addEventListener('click', () => cartIncItem(index))

            let minus = document.createElement('button');
            minus.classList = 'btn btn-warning p-2';
            minus.innerHTML = '-';
            minus.addEventListener('click', () => cartDecItem(index))


            let quant = document.createElement('text');
            quant.classList = 'm-3';
            quant.id = "cart-item-" + index
            quant.innerHTML = quantity;

            let q = document.createElement('div');
            q.classList = 'card-text';

            q.append(minus);
            q.append(quant);
            q.append(plus);


            let contain = document.createElement('div');
            contain.classList = 'position-relative';
            let dish_total = document.createElement('text');
            dish_total.classList = 'position-absolute end-0 m-0';
            dish_total.innerHTML = "<i class='fa fa-rupee'></i>"+price * quantity;

            contain.append(dish_total);
            contain.append(p);






            let card = document.createElement('div');
            card.classList = "card card-body m-2";

            card.append(n);
            card.append(q);
            card.append(contain);

            return card
        }
        function calcTotal(cart) {
            let t = 0;
            for (let index in cart) {

                let item = cart[index]

                // let card = createCard(index, item[1], item[2], item[0]);
                t = t + item[2] * item[0];
                console.log(item[2])
                // $('#cart-body').append(card);
            }
            return t;
        }


        function payandorder(){
            clearCart();
            alert('Ordered');
        }


        function populateCart() {
            $('#cart-body').empty();
            let cart = JSON.parse(localStorage.getItem('cart'));
            if (cart != undefined) {
                for (let index in cart) {
                    let item = cart[index]
                    let card = createCard(index, item[1], item[2], item[0]);
                    $('#cart-body').append(card);
                }
                total_amount = calcTotal(cart);
                let total_contain = document.createElement('div');
                total_contain.classList = 'card d-flex flex-row-reverse m-2';
                let final_total = document.createElement('div');
                final_total.classList = 'mx-3';
                // final_total.classList = 'position-absolute end-0';
                final_total.innerHTML ='Total:  '+"<i class='fa fa-rupee'></i>"+total_amount;
                total_contain.append(final_total);
                $('#cart-body').append(total_contain);
                

                let contain = document.createElement('div');
                contain.classList = 'position-relative';

                let clear = document.createElement('button');
                clear.classList = 'clear_cart btn btn-warning position-absolute start-0 m-3';
                clear.innerText = 'Clear Cart';
                clear.addEventListener('click', () => clearCart())
                let checkout = document.createElement('button');
                checkout.classList = 'btn btn-warning position-absolute end-0 m-3';
                checkout.addEventListener('click', () => payandorder())
                // checkout.href = "{% url 'check out' %}";
                checkout.innerText = 'Pay & Order';
                contain.append(clear);
                contain.append(checkout);
                $('#cart-body').append(contain);
            }
            else {
                console.log('empty')
                let card = document.createElement('div');
                card.classList = "container text-secondary text-center pt-5 mt-5";
                card.innerHTML = "<h2>Empty<h2>"
                $('#cart-body').append(card);


            }
        }

        function clearCart() {
            console.log('cleared');
            localStorage.clear();
            empty = {};
            empty[0] = [0, 0, 0];
            setCartNo(empty);
            populateCart();
        }



    </script>

    {% endblock %}
</body>

</html>