<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Details</title>
    <script src="https://kit.fontawesome.com/7a1a8867fc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <style>
            body {
                font-family: 'Poppins', sans-serif;
            }
            .card {
            margin: 0 0.5em;
            box-shadow: 2px 6px 8px rgba(22, 22, 26, 0.18);
            border: none;
            border-radius: 3;
        }
            </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
</head>

<body>
    {% csrf_token %}
    <!-- {{restaurant.0.name}}<br>
    {{restaurant.0.description}}<br> -->
    <nav class="navbar sticky-top bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{%url 'index' %}">

                <img src="https://svgsilh.com/svg/2085075.svg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top ">
                QuickBites
            </a>
            <ul class="nav justify-content-end">
                <li class="nav-item mx-2">
                    <a type="button" class="nav-link" href="{% url 'logout' %}">
                        Logout
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a type="button" class="nav-link" href="#">
                        About Us
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a type="button" class="nav-link" href="#">
                        Help
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a type="button" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em"
                            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M406.5 399.6C387.4 352.9 341.5 320 288 320H224c-53.5 0-99.4 32.9-118.5 79.6C69.9 362.2 48 311.7 48 256C48 141.1 141.1 48 256 48s208 93.1 208 208c0 55.7-21.9 106.2-57.5 143.6zm-40.1 32.7C334.4 452.4 296.6 464 256 464s-78.4-11.6-110.5-31.7c7.3-36.7 39.7-64.3 78.5-64.3h64c38.8 0 71.2 27.6 78.5 64.3zM256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-272a40 40 0 1 1 0-80 40 40 0 1 1 0 80zm-88-40a88 88 0 1 0 176 0 88 88 0 1 0 -176 0z" />
                        </svg>
                        {{ username }}
                    </a>
                </li>
                <li class="nav-item mx-2">
                    <a type="button" class="btn btn-warning position-relative m-0 " data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">

                        <i class="fa fa-solid fa-cart-shopping"></i>
                        Cart
                        <span data-cart_no="0"
                            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            0
                            <span class="visually-hidden">Cart</span>
                        </span>
                    </a>

                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                        aria-labelledby="offcanvasRightLabel">
                        <div class="offcanvas-header">
                            <h2 class="offcanvas-title" id="offcanvasRightLabel">Cart</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div id="cart-body">
                            </div>
                            <!-- <div class="position-relative">
                                <button class="clear_cart btn btn-warning position-absolute start-0">Clear Cart</button>
                                <a class="btn btn-warning position-absolute end-0">Check Out</a>
                            </div> -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </nav>




    <div class="card text-bg-dark m-5" style="height:400px;">
        <img src="/media/{{restaurant.0.image}}" class="object-fit-cover border rounded" alt="..."
            style="height: 100%;">
        <div class="card-img-overlay">
            <h1 class="card-title mb-5">{{restaurant.0.name}}</h1>
            <h5 class="card-text my-3">{{restaurant.0.email}}</h5>
            <h5 class="card-text mb-3">{{restaurant.0.phone}}</h5>
            <h5 class="card-text my-">{{restaurant.0.address}},{{restaurant.0.city}}</h5>
            <p class="card-text" style="max-width:700px;">{{restaurant.0.description}}</p>
        </div>
    </div>
    {%for i in dish%}
    <div class="d-flex justify-content-center">
        <div class="card mb-3 d-flex justify-content-center" style="width:70%;">
            <img src="/media/{{i.image}}" class="card-img-top object-fit-cover" alt="..." height="200px; ">
            <div class="card-body">
                <h5 class="card-title" id='dish-{{i.id}}'>{{i.name}}</h5>
                <p class="card-text">{{i.description}}</p>
                <p class="card-text"><small class="text-body-secondary" id='dish-price-{{i.id}}'>{{i.price}}</small></p>
                <!-- <a class="btn btn-warning" >Add to cart</a> -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                    data-bs-target="#modal-{{forloop.counter}}">
                    Add to Cart
                </button>
                <!-- Modal -->
                <div class="modal fade" id="modal-{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">{{i.name}}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{i.description}}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id='{{i.id}}' class="btn btn-warning cart">Add to
                                    cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    {% block js %}
    <script>
        function setCartNo(cart) {
            let total = 0;
            for (items in cart) {
                total += cart[items][0]
            }
            $("[data-cart_no]").html(total);
        }
        console.log('working');
        if (localStorage.getItem("cart") == undefined) {
            var cart = {};
            $('[data-cat_no]').html(0);
        }
        else {
            cart = JSON.parse(localStorage.getItem('cart'));
            setCartNo(cart);
        }
        populateCart();

        $('.cart').click(function () {
            console.log('clicked');


            var idstr = this.id.toString();
            console.log(idstr);
            // if (cart[idstr] != undefined) {
            //     cart[idstr] = cart[idstr] + 1
            // }
            // else {
            //     cart[idstr] = 1
            // }
            //
            if (cart[idstr] != undefined) {
                cart[idstr][0] = cart[idstr][0] + 1;
            } else {
                // alert(idstr);
                qty = 1;
                name = $('#dish-' + idstr).html();
                price = $('#dish-price-' + idstr).html();
                console.log(name);
                cart[idstr] = [qty, name, parseInt(price)];
                console.log(cart[idstr]);

            }
            //
            console.log(cart);
            localStorage.setItem('cart', JSON.stringify(cart));
            console.log('done');
            setCartNo(cart);
            populateCart();
        })


        function cartIncItem(index) {
            // cart fetch,
            let cart = JSON.parse(localStorage.getItem('cart'));
            cart[index][0] = cart[index][0] + 1;
            localStorage.setItem('cart', JSON.stringify(cart));
            // update
            $("#cart-item-" + index).html(cart[index][0])
            setCartNo();

        }
        function cartDecItem(index) {
            // cart fetch,
            let cart = JSON.parse(localStorage.getItem('cart'));
            cart[index][0] = cart[index][0] - 1;
            localStorage.setItem('cart', JSON.stringify(cart));
            // update
            if(cart[index][0]===0){
                console.log('0')
                delete(cart[index])
                if(Object.keys(cart).length==0){
                    localStorage.removeItem('cart');
                }
                else{
                localStorage.setItem('cart', JSON.stringify(cart));}
                populateCart();
            }
            else{
            $("#cart-item-" + index).html(cart[index][0])}
            setCartNo();
        }



        function createCard(index, name, price, quantity) {

            let p = document.createElement('div');
            p.innerHTML = price;
            let n = document.createElement('div');
            n.classList = 'card-title';
            n.innerHTML = name;

            let plus = document.createElement('button');
            plus.classList = 'btn btn-warning p-2';
            plus.innerHTML = '+';
            plus.addEventListener('click', () => cartIncItem(index))

            let minus = document.createElement('button');
            minus.classList = 'btn btn-warning p-2';
            minus.innerHTML = '-';
            minus.addEventListener('click', () => cartDecItem(index))


            let quant = document.createElement('text');
            quant.classList = 'm-3';
            quant.id = "cart-item-" + index
            quant.innerHTML = quantity;

            let q = document.createElement('div');
            q.classList = 'card-text';
            q.append(minus);
            q.append(quant);
            q.append(plus);




            let card = document.createElement('div');
            card.classList = "card card-body m-2";

            card.append(n);
            card.append(q);
            card.append(p);
            return card
        }
        function populateCart() {
            $('#cart-body').empty();
            let cart = JSON.parse(localStorage.getItem('cart'));
            if (cart != undefined) {
                for (let index in cart) {
                    let item = cart[index]
                    let card = createCard(index, item[1], item[2], item[0]);
                    $('#cart-body').append(card);
                }
                let contain = document.createElement('div');
                contain.classList = 'position-relative';

                let clear = document.createElement('button');
                clear.classList = 'clear_cart btn btn-warning position-absolute start-0';
                clear.innerText = 'Clear Cart';
                clear.addEventListener('click', () => clearCart())
                let checkout = document.createElement('button');
                checkout.classList = 'btn btn-warning position-absolute end-0';
                checkout.innerText = 'Check Out';
                contain.append(clear);
                contain.append(checkout);
                $('#cart-body').append(contain);
            }
            else{
                console.log('empty')
                let card = document.createElement('div');
                card.classList = "container text-secondary text-center pt-5 mt-5";
                card.innerHTML="<h2>Empty<h2>"
                $('#cart-body').append(card);
                

            }
        }

        function clearCart() {
            console.log('cleared');
            localStorage.clear();
            populateCart();
        }



    </script>

    {% endblock %}

</body>

</html>